-#view for translations

%html
  %head
    = stylesheet_link_tag 'videos'
  %body
    = render :partial => "shared/dashhead"
    = render :partial => "shared/nav"

    .container
      .content
        %h4{:class => "list-title"} Videos Being Translated
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_id Translator Name
            %th.kabt_email E-Mail


          - @prog_trans.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td= User.find(video.translator_id).name
              %td= User.find(video.translator_id).email

        %h4{:class => "list-title"} Videos Being Digitized
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_id Translator Name
            %th.kabt_email E-Mail


          - @prog_digi.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td= User.find(video.translator_id).name
              %td= User.find(video.translator_id).email

        %h4{:class => "list-title"} Videos Being QA'd
        %table.table.table-bordered{:id => "list_table"}
          %tr
            %th.kabt_course Course
            %th.kabt_title Title
            %th.kabt_id Translator Name
            %th.kabt_email E-Mail


          - @prog_qa.each do |video|
            %tr 
              %td= video.course
              %td= video.title
              %td= User.find(video.translator_id).name
              %td= User.find(video.translator_id).email