.aval_button{:class => "button"}
 %a{:class => 'a_link', :href => 'available'} Availablel.count})

.trans_button{:class => "button"}
 %a{:class => 'a_link', :href => 'translate'} Translate(#{@trans_vids.count})

.digi_button{:class => "button"}
 %a{:class => 'a_link', :href => 'digitize'} Digitize(#{@digi_vids.count})
 
.qa_button{:class => "button"}
 %a{:class => 'a_link', :href => 'qa'} QA(#{@qa_vids.count})

.prog_button{:class => "button", :id => "prog"}
 %a{:class => 'a_link', :href => 'progress'} Progress(#{@progress_vids.count})

.compl_button{:class => "button"}
 %a{:class => 'a_link', :href => 'completed'} Completed(#{@comp.count})
